------------------------------------------------------------------------------
                             Code Coverage Report
------------------------------------------------------------------------------
File                                        Lines     Exec   Cover  Missing
------------------------------------------------------------------------------
{{#sourceFiles}}
{{filename}} {{lines}} {{exec}} {{cover}} {{missing}}
{{/sourceFiles}}
------------------------------------------------------------------------------
TOTAL                                    {{totalLines}} {{totalExec}} {{totalCover}} {{totalMissing}}
------------------------------------------------------------------------------